<footer class="footer">
  <div class="container">
    <div class="row justify-content-between align-items-baseline">
      <div class="col-auto mb-3">
        <figure>
          <img src="../../assets/images/Logo.svg" alt="logo" />
        </figure>
        <p class="footer__logotext">
          Collaboration platform<br />
          for modern teams.
        </p>
      </div>
      <div class="col-auto mb-3">
        <h5 class="footer__header">Company</h5>
        <ul class="list-unstyled footer__links">
          <li><a routerLink="">About Us</a></li>
          <li><a routerLink="">Careers</a></li>
          <li><a routerLink="">Support</a></li>
          <li><a routerLink="">Knowledgebase</a></li>
        </ul>
      </div>
      <div class="col-auto mb-3">
        <h5 class="footer__header">Features</h5>
        <ul class="list-unstyled footer__links">
          <li><a routerLink="">Screen Sharing</a></li>
          <li><a routerLink="">iOS & Android Apps</a></li>
          <li><a routerLink="">File Sharing</a></li>
          <li><a routerLink="">User Management</a></li>
        </ul>
      </div>
      <div class="col-auto mb-3">
        <h5 class="footer__header">Contact Us</h5>
        <ul class="list-unstyled footer__links">
          <li>info@teamapp.com</li>
          <li>1-800-200-300</li>
          <li>1010 Sunset Blv.</li>
          <li>Palo Alto, California</li>
        </ul>
      </div>
      <div class="col-auto mb-3">
        <h5 class="footer__header">Stay up to date</h5>
        <p class="footer__newsletter">Subscribe to our newsletter</p>
        <app-newsletter-form></app-newsletter-form>
      </div>
    </div>
  </div>
  <div class="footer__copy-rights">
    <div class="container">© Copyright Team Inc.</div>
  </div>
</footer>
