<section class="task-manamgement-section">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 task-manamgement-section__image mb-5 mb-lg-0">
        <figure class="task-manamgement-section__event">
          <img
            src="../../assets/images/event 1.png"
            class="img-fluid"
            alt="event1"
          />
        </figure>
        <figure class="task-manamgement-section__event">
          <img
            src="../../assets/images/event 2.png"
            class="img-fluid"
            alt="event2"
          />
        </figure>
      </div>
      <div class="col-lg-5 task-manamgement-section__text">
        <h2>Simplest task management</h2>
        <p>
          Task management with Team is as simple as it gets. No complicated
          layout and need for user training. Your team members will intuitively
          know how to navigate the platform. It’s so simple, a baby could do it!
        </p>
        <app-learn-more-btn></app-learn-more-btn>
      </div>
    </div>
  </div>
</section>
