<main class="blog-details" *ngIf="!loading; else elseBlock">
  <div class="container blog-details__header">
    <h1 class="mb-3">{{ blogDetails.articleTitle }}</h1>
    <div
      class="blog-details__author d-flex justify-content-start align-items-center"
    >
      <figure>
        <img [src]="blogDetails.author" [alt]="blogDetails.authorName" />
      </figure>
      <p class="ps-3">
        {{ blogDetails.authorName }} <span class="px-3">|</span>
        {{ blogDetails.date }}
      </p>
    </div>
  </div>
  <div class="container blog-details__image">
    <figure>
      <img
        [src]="blogDetails.articleImage"
        class="img-fluid w-100"
        [alt]="blogDetails.articleTitle"
      />
    </figure>
  </div>
  <div class="container blog-details__text" [innerHTML]="blogDetails.details"></div>
</main>
<ng-template #elseBlock>
  <div class="spinner-border text-info p-2 loader" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>
