@import "~src/sass/mixins";
header {
  @include background-image("../../../assets/images/hero-img.jpg");
  height:calc(55rem - 5rem);
  margin-bottom: .6875rem;
  .hero-content {
    padding: 14rem 0 16.0625rem 0;
    &__header {
      font-size: 3.4375rem;
      padding-bottom: 1.25rem;
    }
    &__description {
      font-size: 1.25rem;
    }
  }
}
@media (min-width: 576px) {
  header{
    background-position: center right;
  }
}

