<swiper
  [spaceBetween]="30"
  [slidesPerGroup]="1"
  [loop]="true"
  [loopFillGroupWithBlank]="true"
  [navigation]="true"
  [breakpoints]="{
    '640': {
      slidesPerView: 1,
      spaceBetween: 20
    },
    '768': {
      slidesPerView: 2,
      spaceBetween: 30
    },
    '1024': {
      slidesPerView: 3.4,
      spaceBetween: 30
    }
  }"
  class="mySwiper py-5"
>
  <ng-template swiperSlide *ngFor="let review of reviews">
    <app-review-card [review]="review"></app-review-card>
  </ng-template>
</swiper>
