@import "~swiper/scss";
@import "~swiper/scss/navigation";
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-style{
  margin-top: 7.5rem;
  padding-bottom: 6rem !important;
}
.swiper-button-prev, .swiper-button-next{
    top:95% !important; 
}
.swiper-button-next {
  left:auto;
  right: 40%;
 }
.swiper-button-prev {
 left:auto;
 right: 50%;
}

.swiper-button-prev:after{
    content: url("../../assets/images/arrow-left.svg") !important;
}
.swiper-button-next:after {
  content: url("../../assets/images/arrow-right.svg") !important;
}
@media (min-width: 576px) {
  .swiper-button-next {
    left:auto;
    right: 9.5%;
   }
  .swiper-button-prev {
   left:auto;
   right: 14%;
  }
}
