@import "~src/sass/mixins";
.schedule-section {
  &__image {
    @include background-image("../../assets/images/schadule.png");
    background-position: center left;
    background-size: contain;
    height: 35.3125rem;
  }
  &__calender {
    margin-top: 20%;
    margin-left: 10%;
  }
}
@media (min-width: 576px) {
  .schedule-section {
    &__calender {
      margin-top: 3.75rem;
      margin-left: 3.75rem;
    }
  }
}
