@import '~src/sass/variables';
.form{
    margin-top: 3.125rem;
    &__input{
        border-radius: .25rem;
        padding: 1.125rem;
        box-shadow: 0px 15px 35px rgba(39, 44, 47, 0.1);;
    }
    &__submit-btn{
        padding: 1.125rem;
        color: white;
        background-color:$primary-color;
        &:hover{
            background-color: #09aee0;
        }
    }
}