<section class="hub-section clearfix">
    <div class="hub-section__container float-lg-end flex-wrap justify-content-between align-items-center">
      <div class="row justify-content-between align-items-center">
      <div class="col-lg-6">
        <h2>Your hub for <br> teamwork</h2>
        <p>
          Project discussions, important documents, free food <br> announcements:
          they all live tidily together in Team. With <br> your team and information
          in one easily searchable place,<br> collaborating online is as easy as
          collaborating in person.
        </p>
        <app-learn-more-btn></app-learn-more-btn>
      </div>
      <div class="col-lg-6 hub-section__img">
        <figure>
            <img src="../../assets/images/dashboard.png" class="img-fluid" alt="dashboard">
        </figure>
    </div>
  </div>
    </div>
</section>
