<section class="schedule-section">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5">
        <h2>Scheduling that actually works</h2>
        <p>
          Integrated a Team calendar with your favorite calendar app, be it
          Google Calendar or iCal.
        </p>
        <p>
          Each team member works with their favorite calendar, while all the
          date is synced with the master calendar.
        </p>
        <app-learn-more-btn></app-learn-more-btn>
      </div>
      <div class="col-lg-6 schedule-section__image">
        <figure class="schedule-section__calender">
          <img
            src="../../assets/images/calendar.png"
            class="img-fluid"
            alt="calendar"
          />
        </figure>
      </div>
    </div>
  </div>
</section>
